/* csslint box-sizing: false */

html,
body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.6;
  text-align: center;
}

/* Image */

.img-div {
  background: #fff;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px 3px #0000001a;
  box-sizing: border-box;
}

img {
  box-sizing: border-box;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  padding: 1.25rem;
}

.img-caption {
  box-sizing: border-box;
  padding-bottom:  1.25rem;
}

/* Body */

ul {
  padding: 0;
}

.tribute-info {
  box-sizing: border-box;
  display: flex;
}

.characteristics {
  box-sizing: border-box;
  flex: 0 0 75%;
  padding: 0 0.5rem 0 2rem;
  text-align: left;
}

.complexity {
  background: #fff;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px 3px #0000001a;
  box-sizing: border-box;
  flex: 1;
  height: 50%;
  margin: 2.5rem auto;
  padding: 0 0.5rem 2rem 2rem;
  text-align: left;
}

@media only screen and (max-width: 67.125rem) {

  .tribute-info {
    align-items: center; 
    flex-direction: column;
  }
  
}
