/* csslint box-sizing: false */

html,
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.6;
  text-align: center;
}

/* Title */

.title {
  margin: 1.35rem 0.5rem;
}

/* Image */

.img-div {
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #0000001a;
  margin: 0 0.5rem;
}

.img-div__img {
  box-sizing: border-box;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  padding: 1.25rem;
}

.img-div__caption {
  padding-bottom: 1.25rem;
}

/* Body */

.info {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.info__characteristics {
  flex: 0 0 75%;
  padding-right: 0.5rem;
  text-align: left;
}

.info__characteristics-hdr {
  margin: 1.25rem 0;
}

.info__characteristics-list {
  padding-left: 1rem;
}

.info__complexity {
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #0000001a;
  box-sizing: border-box;
  flex: 1;
  height: 50%;
  margin: 1.25rem auto;
  padding: 0 1rem 0.5rem 0;
  text-align: left;
}

.info__complexity-hdr {
  margin-left: 1rem;
}

.info__complexity-list {
  padding-left: 2rem;
}

@media only screen and (min-width: 66.75rem) {
  .info {
    flex-direction: row;
  }
}
